<h2 class="header">Posts</h2>

<div class="container">
    <div class="posts">
        <ul class="results">
            {{#each @model as |post|}}
                <li class="entry"><Entry @post={{post}}/> <Modal @post={{post}}/></li>
            {{/each}}
        </ul>
    </div>  
</div>